<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SerializationPath" value="C:\Users\Admin\source\repos\yuxima\Yukhymchuk_Labs_TRPZ\Reservations\Reservations\Data\XMLData.xml"/>
  </appSettings>
  <connectionStrings>
    <add name="DBConnection" connectionString="data source=(localdb)\MSSQLLocalDB;Initial Catalog=reservation;Integrated Security=True;"
 providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>